body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/**----------------------------------------------*/

/**--------------------HEADER--------------------*/

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-black {
  color: #2e2f42;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list:hover {
  color: #404bbf;
}

.header-list:focus {
  color: #404bbf;
}

.header-list:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-adress-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress-link:hover {
  color: #404bbf;
}

.header-adress-link:focus {
  color: #404bbf;
}

/**-----------------------------------------------*/

/**--------------------SECTION--------------------*/

.section {
  background: #2e2f42;
}

.section-head {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-button-text {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.section-button-text:hover {
  background-color: #404bbf;
}

.section-button-text:focus {
  background-color: #404bbf;
}

/**---------------------------------------------------*/

/**--------------------SECTION-TWO--------------------*/

.section-two-head {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-two-head-three {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-two-paragraf {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-----------------------------------------------------*/

/**--------------------SECTION-THREE--------------------*/

.section-three {
  background: #f4f4fd;
}

.section-three-head {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-three-list {
  background-color: #ffffff;
}

.section-three-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.section-three-paragraf {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**----------------------------------------------------*/

/**--------------------SECTION-FOUR--------------------*/

.section-four-head-three {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-four-lis {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.setion-four-paragraf {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**----------------------------------------------*/

/**--------------------FOOTER--------------------*/

.footer {
  background-color: #2e2f42;
}

.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-paragraf {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
